.provider-page {
  background #fcfcfc
  padding 50px 20px;
  min-height 1000px;

  .stats {
    align-items flex-start;
  }

  .left-table {
    border-radius 10px;
    h3 {
      padding 10px 10px 10px 10px
    }
    background white
    margin-right 20px;
    flex 6;
  }

  .right-table {
    border-radius 10px;
    h3 {
      padding 10px 10px 10px 10px
    }
    background white
    flex 4;
  }

  .ant-progress-inner {
    width calc(100% - 30px) !important;
  }

  .ant-progress-text {
    margin-left 0 !important;
  }
}