.inventory-info{
  background white;
  h4{
    margin-block-start: 0 !important
    margin-bottom 0 !important;
    margin 0 !important;
  }
  .inven{
    .inven-right{
      width 100%;
      justify-content space-between
    }
    .inven-left{
      flex 1 ;
    }
    .time {
      flex 1 ;
      text-align right
    }
  }
}