
.product-preview{
  width 100%;
  .same-price{
    margin-top 50px;
    .featured-products{
      background white
    }
  }
  .row{
    &.description-wrap{
      margin-top 50px;
      border-top 1px solid #e3e3e3;
      p {
        margin: 0 0 20px !important
        line-height: 26px !important;
      }

    }
    .des-preview{
      margin-top 50px;
    }
  }
  .preview-left{
    width 400px;
    .main-preview{
      text-align center
      margin-bottom 10px;
      img{
        padding 20px;
      }
    }

    .carousel{
      img{
        margin 0 5px;
      }
    }
  }
  .preview-mid{
    .product-name {
      font-size:30px;
      font-weight: bold;
      margin-top:15px
    }
    .dungthu-btn{
      margin-top 20px;
      background: #277cea;
      outline none ;
      border: solid 1px #1d72e0;
      color white;
      padding 10px 20px;
      font-size 18px;
      border-radius 5px;
      width 100%;
      &:hover{
        background white;
        color : #277cea;
      }
    }
    .thanhtoan-btn{
      margin-top 20px;
      background: #ea3009;
      color white;
      outline none ;
      border: solid 1px #d21217;
      padding 10px 20px;
      font-size 18px;
      border-radius 5px;
      width 100%;
      &:hover{
        background white;
        color : #ea3009;
      }
    }
    .price-box{
      color: #ff2b2b;
      font-size: 24px;
      font-weight: 700;
      padding: 2px 0;
    }
    .product-des{
      padding-bottom 20px;
      margin-bottom 20px;
      border-bottom 1px solid #c3c3c3
    }
    .cart-action{
      margin-top 40px;
      .number-product{
        align-items center ;

        width 150px;
        input{
          outline none;
          border none;
          width 40px;
        }
      }
      .minus, .plus{
        padding 5px;
        text-align center
        font-size 22px;
        font-weight 500;
        &.action{
          width 40px;
          border 1px solid #c3c3c3
        }
      }

      .wrapper-number{
        border 1px solid #c3c3c3
        padding 10px;

      }
    }
    .product-action{
      color #6F6E6B;
      margin 0 !important
      .fa-shopping-bag{
        font-size 20px;
        padding-right 10px;
      }
      &:hover{
        background #0c85d0 ;
        color white
        transition all 0.3s ease-in-out
      }
      width 160px;
      padding 10px 20px;
      border 1px solid #d2d2d2 ;
      font-weight 600;
    }
    .compare-act{
      display flex ;
      flex-direction column;
      justify-content: center;
      margin-left 10px;
      i{
        font-size 20px;
      }
    }

  }
  .preview-right{
    .main-container{
      width 100% !important
      flex-direction column !important
      .info-box{
        max-width none !important
        flex 1 !important
        background white;
        border-bottom 1px solid #cecece;
        justify-content flex-start
        i{
          color #0c85d0;
        }
      }
    }
  }

  .image-360-wrap{
    overflow hidden;
    display flex;
    flex-direction row;
    justify-content center;
    align-items center;
  }
}