.trial-modal{
  position relative;
  margin 100px auto 0 auto ;
  padding 20px;
  width 600px;
  border-radius 5px;
  height 700px;
  background white;
  .warning-label{
    color red;
  }
  .trial-modal-bottom{
    margin-top 50px;
    button{
      float right;
      background: #277cea;
      outline none ;
      border: solid 1px #1d72e0;
      color white;
      padding 10px 20px;
      font-size 18px;
      border-radius 5px;
      &:hover{
        background white;
        color : #277cea;
      }
    }

  }
}