.dashboard{
  background #f8f8f8;
  padding 20px;

  .head-card{
    padding 10px 0 ;
    background white ;

    width 32% !important;
    .sum-cover{
      &.sum-content{
        margin 0 10px;
      }
    }
  }

  .payment-infomation{
    padding-top 50px;
    .inventory{
      min-height 300px;
    }
    .payment{
      min-height 300px;
    }
  }
}