

.edit-product-page{
  padding-top 50px;
  width 800px;
  margin 0 auto ;
  .form-group{
    .select-form2 .content-wrapper{
      z-index 600 !important;
    }
  }
  .action{
    margin-top 50px;
  }
}