// inject:all
@import "../../../src/client/app/add-product/add-product-page.styl";
@import "../../../src/client/app/add-product/editor/editor.styl";
@import "../../../src/client/app/add-product/product-form-data/product-form-data.styl";
@import "../../../src/client/app/brand-list/brand-list.styl";
@import "../../../src/client/app/check-out-page/check-out-page.styl";
@import "../../../src/client/app/check-out-page/shipping-select/shipping-select.styl";
@import "../../../src/client/app/common/modal/modal.styl";
@import "../../../src/client/app/common/select/select2.styl";
@import "../../../src/client/app/compare-divices/compare-devices.styl";
@import "../../../src/client/app/compare-divices/search-device/search-device.styl";
@import "../../../src/client/app/component/admin-layout/admin-layout.styl";
@import "../../../src/client/app/component/app-layout/app-footer/app-footer.styl";
@import "../../../src/client/app/component/app-layout/app-header/app-header.styl";
@import "../../../src/client/app/component/app-layout/app-header/menu-panel/menu-panel.styl";
@import "../../../src/client/app/component/app-layout/app-header/search-panel/search-panel.styl";
@import "../../../src/client/app/component/app-layout/app-layout.styl";
@import "../../../src/client/app/component/check-box/check-box.styl";
@import "../../../src/client/app/component/manage-layout/manage-layout.styl";
@import "../../../src/client/app/component/pagination-table/pagination-table.styl";
@import "../../../src/client/app/component/pagination-table/pagination/pagination.styl";
@import "../../../src/client/app/component/search-area/search-area.styl";
@import "../../../src/client/app/component/upload-image/upload-image.styl";
@import "../../../src/client/app/contact/contact.styl";
@import "../../../src/client/app/dashboard/dashboard.styl";
@import "../../../src/client/app/dashboard/high-chart-line/high-chart-line.styl";
@import "../../../src/client/app/dashboard/inventory-info/inventory-info.styl";
@import "../../../src/client/app/dashboard/payment-info/payment-info.styl";
@import "../../../src/client/app/dashboard/pie-chart/pie-chart.styl";
@import "../../../src/client/app/dashboard/small-line-chart/small-line-chart.styl";
@import "../../../src/client/app/edit-banners/edit-banners.styl";
@import "../../../src/client/app/edit-product-page/edit-product-page.styl";
@import "../../../src/client/app/edit-user-info/edit-user-info.styl";
@import "../../../src/client/app/home-page/ads-item/ads-item.styl";
@import "../../../src/client/app/home-page/featured-products/featured-products.styl";
@import "../../../src/client/app/home-page/home-page.styl";
@import "../../../src/client/app/login/login.styl";
@import "../../../src/client/app/main-routes.styl";
@import "../../../src/client/app/manage-inventory/antd-table.styl";
@import "../../../src/client/app/manage-inventory/manage-inventory.styl";
@import "../../../src/client/app/manage-payments/manage-payments.styl";
@import "../../../src/client/app/manage-products/manage-products.styl";
@import "../../../src/client/app/manage-trials/mange-trials.styl";
@import "../../../src/client/app/payment-detail/payment-detail.styl";
@import "../../../src/client/app/product-inventory/product-inventory.styl";
@import "../../../src/client/app/product-preview/discount-info/discount-info.styl";
@import "../../../src/client/app/product-preview/flickity/flickity.styl";
@import "../../../src/client/app/product-preview/information-panel/information-panel.styl";
@import "../../../src/client/app/product-preview/product-preview.styl";
@import "../../../src/client/app/product-preview/ratting-star/ratting-star.styl";
@import "../../../src/client/app/provider/provider.styl";
@import "../../../src/client/app/register/register.styl";
@import "../../../src/client/app/trial-register/trial-modal/trial-modal.styl";
@import "../../../src/client/app/update-banners/update-banners.styl";
@import "../../../src/client/app/user-payments/user-payments.styl";
@import "../../../src/client/app/ware-housing/ware-housing.styl";
@import "../../../src/client/styl/base/color.styl";
@import "../../../src/client/styl/base/common.styl";
@import "../../../src/client/styl/base/font-size.styl";
@import "../../../src/client/styl/base/fonts.styl";
@import "../../../src/client/styl/base/utils.styl";
@import "../../../src/client/styl/main.styl";
// endinject

no-select() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
