.menu-panel{
  height 54px;
  background #f4f4f4;
  color #7A7D82;
  .menu-item{
    position relative;
    line-height 54px;
    margin-right 20px;
    cursor pointer;
    .dropdown{
      position absolute;
      z-index 100;
      top 50px;
      left 0 ;
      background white;
      min-width 300px;
      -webkit-box-shadow: 0px 19px 32px -8px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 19px 32px -8px rgba(0,0,0,0.75);
      box-shadow: 0px 19px 32px -8px rgba(0,0,0,0.75);
    }
  }
  .header-right{
    justify-content flex-end;
    .menu-item{
      margin-right 0 !important;
      margin-left 20px;
    }
  }
}