.manage-trials{
  padding-top 50px;
  .cell{
    &.product{
      img{
        margin-right 10px;
      }
    }
    .status-controller{
      .accept-trial{
        width 80px;
        padding 5px ;
        background #0c97e4;
        color white;
        border-radius 5px;
        outline none;
        border 1px solid #0c85d0;
      }
    }
  }
}