.compare-devices{
  width 100%;
  .row{
    .col-lg-3{
      padding  10px 5px;
    }
    .brick-column{
      .brick{
        border 1px solid #f4f4f4;
        display flex ;
        flex-direction column  ;
        align-items center;
        justify-content  center
        height   100px;
        .content{
          height 40px;
          line-height 40px;
        }
      }
      &.properties{
        .brick{
          font-size 18px ;
          font-weight  500;
          color #4058ff
        }
      }
    }

  }


}

.search-device-wrapper{
  .content-rs{
    justify-content space-between
  }
}