
.manage-inventory{
  background #fcfcfc
  padding 50px 20px;
  min-height 1000px;
  width: 100%;
  overflow: auto;
  .stat-inventory{
    @media (max-width 480px){
      flex-direction column !important;
      .stat-left{
        margin-right 0 !important;
      }
    }
    .stat-left{
      flex 3 ;
      margin-right 20px;
      .stat-card{
        position relative;
        margin-bottom 20px;
        background white;
        -webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
        box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
        padding 20px 30px;
        i{
          position absolute;
          top 50%;
          font-size 20px;
          right 20px;
          transform translate(0 , -50% )
          padding 10px;
          border-radius 50%;
          color white;
          background #ff350e
        }
      }
    }
    .stat-right{
      -webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
      -moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
      box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
      flex : 7 ;
    }
  }
  .inventory-table , .inventory{
    margin-top 50px;
    -webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.11);
    padding 20px;
    background white;
    width 100% ;
    overflow auto;
    .product-info{
      align-items center;
      .product-image{
        border-radius 50%;
        margin-right 20px;
      }
      .product-name{
        font-weight 600;
      }
    }
    .status{
      .circle{
        width 5px;
        height 5px;
        border-radius 50% ;
        display inline-block;
        margin-right 20px;
        &.hangton{
          background red ;
        }
        &.hangmoi{
          background green ;
        }
        &.schedule{
          background #0c85d0
        }
      }
    }
    .fa-ellipsis-v{
      font-size 15px;
    }
  }
}