.payment-detail{
  .sumary{
    border: 1px solid #ddd;
    background: #f5f5f5;
    margin-top 65px;
    .products{
      .product{
        margin-bottom 20px;
        .product-detail{
          margin-left 10px;
          h4{
            width  130px;
          }
        }
        .price{
          margin-left 10px;
        }
      }
    }
    padding 20px;
  }
}