
.product-inventory{
  padding 20px;
  .left-table{
    flex 6
    .status{
      .circle{
        width 5px;
        height 5px;
        border-radius 50% ;
        display inline-block;
        margin-right 20px;
        &.hangton{
          background red ;
        }
        &.hangmoi{
          background green ;
        }
        &.schedule{
          background #0c85d0
        }
      }
    }
    .fa-ellipsis-v{
      font-size 15px;
    }
  }

  .right-table{
    flex 4;
  }
}