

.edit-banners{
  padding-top 50px;
  .ant-table-wrapper{
    width 100%;
  }

  .hover-input{
    width 100%;
    input{
      width inherit
      outline none ;
      padding 5px 10px;
      border none;
      border-radius 5px;
    }
    .active{
      border 1px solid #6fa50d
    }
  }
}