.information-panel{
  margin-top 20px;
  h2{
    text-align center
    //border 1px solid #e3e3e3;
    border-bottom none!important
    margin 0 !important;
    font-size:20px;
    padding: 10px 0;
  }
  .infor-wrap{
    //border 1px solid #e3e3e3;
    .infor-content{
      border-bottom 1px solid #efefef;
      padding 8px 5px;
      .infor-value{
        font-size 13px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
      }
    }

    .more-hide{
      color #0c85d0;
      font-weight 500;
      cursor pointer;
    }
  }

}