.add-product-page{
  padding-top 50px;
  margin 0 auto;
  padding-bottom 50px;
  width 800px;
  .upload-product{
    margin-bottom 50px;
  }
  .col-md-12{
    padding-bottom 20px;
  }
  .form-control{
    &.description{
      height 100px !important
    }

  }
  .form-group{
    .select-form2 .content-wrapper{
      z-index 600 !important;
    }
  }

  //.main-center{
  //  justify-content center;
  //}
}