
.search-panel{
  width 300px;
  position relative;
  padding-top 10px;
  z-index 20;
  .fa-times{
    position absolute
    right 40px ;
    font-size 18px;
    top 50% ;
    transform translate(0, -50%)
    color #7a7a7a
  }
  input{
    width 100%;
    outline none;
    border-radius 30px;
    padding 5px 20px;
    border: 1px solid #dbe0e2;
  }
  i{
    position absolute
    right 10px ;
    top 50% ;
    transform translate(0, -50%)
    color #7a7a7a
  }

  .dropdown-results{
    position absolute ;
    width 100%;
    max-height 200px ;
    overflow auto;
    background white ;
    border 1px solid #5689ff
    top 50px;
    .content-rs{
      justify-content space-between
    }
    .result-item{
      padding 10px 20px ;
      border-bottom  1px solid #f4f4f4;
      .device-name{
        font-size 12px ;
        color #0c85d0
        line-height 40px  ;
        height 40px;
      }
      .device-image{
        border-radius 2px ;
      }
    }
  }
}